language: java
sudo: false
notifications:
  hipchat:
    rooms:
      secure: gm/LP/t2BHR0y3ydcoWLtRtolMCPAX2gnmLvR1FjDFraLaTgf8oo586Moj4uBCcwhVCkDRI3qR8g/SXKm+D6NBIpngwKSVEA7HHjtN++9OjNlnsY5hDasVbAwJ5cgfwTFQ09otgPQMqI63aV+HZ5isdNvIZd5fAmPqvtDAoerLY=
deploy:
  provider: releases
  api_key:
    secure: kiEIBkxHo5fkXGXpN39lN7ugHjufdWJCu5BruGo4xDnP1jjxclezFeTkr1wd5Z0ZIiz8xorKZqZSfFi9u21ZnJc0qphSOrWF4E1Mi10FxAddp51MzO1bwdELflk0oEZ1YCaQTnHfhcO2Y/rDlvxtJTMZ+IRP8EMlO6bF83Jft0M=
  file_glob: true
  file: build/libs/*
  skip_cleanup: true
  on:
    all_branches: true
    tags: true
    repo: xebialabs-community/xlr-versionone-plugin
